* {
    margin: 0;
    padding: 0;
    font-size: 0.625em;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold"),
    local("OpenSans-Bold"),
     url(../fonts/OpenSans-Bold.woff2) format("woff2"),
     url(../fonts/OpenSans-Bold.woff) format("woff"),
     url(../fonts/OpenSans-Bold.ttf) format("ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
}

/*----------HEADER--------*/
.header {
    position: relative;
    z-index: 0;
    margin: auto;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 145px;
    font-weight: bold;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #666666;
    background-size: cover;
}

.header-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.top-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 180px;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list-item {
    color: #ffffff;
}

.menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
}

.menu-link:hover {
    text-decoration: underline;
    font-weight: 600;
}

.menu-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.header-text {
    font-weight: bold;
    max-width: 720px;
    margin: 98px auto 0 auto;
    font-size: 4.5rem;
    line-height: 7.5rem;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    color: #ffffff;
}

/*---------MAIN---------*/
.page {
    width: 100%;
    padding-top: 5.5rem;
}

.trends-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.trends-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e1d9bd;
    margin-bottom: 29px;
}

.trends {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 6.3rem;
}

.trend {
    display: flex;
    position: relative;
    width: calc(100%/4 - 4px);
    min-height: 31.8rem;
    background-size: cover;
    padding-bottom: 15px;
    align-items: flex-end;
    z-index: 0;
    background-color: #606260;
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.trend-content {
    border: 3px solid #b59f5b;
    width: 90.25%;
    padding: 3.3rem 1rem 3rem 3rem;
    margin: 0 auto;
}

.trend-title-link {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

.trend-title-link:hover {
    color: #b59f5b;
}

.trend1 {
    background-image: url(../images/trend1.jpg);
}

.trend2 {
    background-image: url(../images/trend2.jpg);
}

.trend3 {
    background-image: url(../images/trend3.jpg);
}

.trend4 {
    background-image: url(../images/trend4.jpg);
}

.page-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main {
    display: flex;
    width: 1170px;
    margin: 60px auto 59px auto;
    justify-content: space-between;
    background-color: white;
}

.news {
    width: 66.5%;
}

.news-article {
    display: flex;
}

.news-article:nth-child(n + 2) {
    margin-top: 52px;
}

.news-img {
    display: block;
    min-width: 380px;
    background-color: #eff6f1;
}

.news-description {
    margin-left: 30px;
}

.news-tegs {
    display: flex;
    margin: 0;
    padding: 0;
}

.news-tegs-item {
    list-style-type: none;
}

.news-tegs-item:nth-child(n + 1) {
    margin-right: 19px;
}

.news-tegs-link {
    display: block;
    font-weight: bold;
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.news-tegs-link:hover {
    text-decoration: underline;
}

.news-title {
    margin-top: 5px;
}

.news-title-link {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
}

.news-title-link:hover {
    color: #b59f5b;
}

.news-info {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
    margin-top: 24px;
}

.news-info-data {
    display: block;
    margin-right: 12px;
    font-weight: normal;
    font-size: 1.2rem;
    color: #888888;
}

.news-info-author {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    color: #000000;
}

.news-content {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #0f0d0e;
}

/*---------ASIDE---------*/

.sidebar {
    width: 270px;
}

.post-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 1.4rem;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
}

.post-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e1d9bd;
}

.post-list {
    display: flex;
    margin-bottom: 12px;
}

.img-link {
    width: 70px;
    height: auto;
    padding-top: 6px;
}

.post-list-description {
    margin-left: 19px;
}

.description-data {
    font-weight: normal;
    font-size: 1.1rem;
    color: #7e7e7e;
    text-transform: uppercase;
}

.description-title {
    margin: 0;
    padding-top: 3px;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.8rem;
}

.description-title-link {
    color: #000000;
    font-size: 1.4rem;
}

.description-title-link:hover {
    color: #b59f5b;
}

.search {
    width: 100%;
    display: flex;
    margin-top: 54px;
}

.search-label {
    flex-grow: 1;
}

.search-field {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0 10px 0 16px;
    font-weight: normal;
    font-size: 1.3rem;
    background-color: #f4f7f6;
    border: none;
    color: #828383;
}

.search-field:focus {
    outline: 1px solid #b59f5b;
}

.search-button {
    width: 48px;
    height: 48px;
    padding: 0;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    background-size: 18px;
    border: none;
}

.search-button:hover {
    cursor: pointer;
}

.subscribe {
    margin-top: 58px;
}

.subscribe-post-title {
    margin-bottom: 29px;
}

.input {
    position: relative;
    bottom: 6px;
}

.mail-field {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 10px 0 16px;
    border: none;
    font-weight: normal;
    font-size: 1.3rem;
    color: #707171;
    background-color: #f4f7f6;
}

.mail-field:focus {
    outline: 1px solid #b59f5b;
}

.mail-button {
    display: block;
    width: 100%;
    height: 48px;
    margin-top: 18px;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b59f5b;
}

.mail-button:hover {
    cursor: pointer;
}

.tags {
    margin-top: 51px;
}

.tags-block {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.tags-block-item {
    margin: 8px 8px 0 0;
}

.tags-block-link {
    display: block;
    padding: 3px 12px;
    border: 3px solid #ededed;
    font-weight: bold;
    font-size: 1.2rem;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
}

.tags-block-link:hover {
    border: 3px solid #b59f5b;
}

.categories {
    margin-top: 58px;
}

.categories-post-title {
    margin-bottom: 23px;
}

.categories-list {
    margin: 0;
    padding: 0;
}

.categories-list-item {
    display: flex;
    padding: 2px 3px 11px 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #eeeeee;
}

.item-link {
    display: block;
    margin-right: 2px;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000000;
    text-decoration: none;
}

.item-link:hover {
    color: #b59f5b;
}

.item-count {
    font-weight: bold;
    font-size: 1.2rem;
    color: #b59f5b;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    gap: 20px;
}

.shop-item {
    width: 29.5%;
    display: flex;
    flex-direction: column;
}

.shop-item-picture {
    display: flex;
    width: 87%;
    margin: 0 auto;
}

.shop-item-img {
    width: 100%;
}

.shop-item-info {
    display: flex;
    flex-direction: column;
    border: 3px solid #b59f5b;
    margin-top: -3.8rem;
    padding: 18.7% 7.5% 11%;
    flex-grow: 1;
}

.shop-item-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.shop-item-description {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: #706f70;
    margin-bottom: 17px;
}

.shop-item-description:hover {
    color:#000000;
}

.shop-item-link {
    font-size: 1.5rem;
    color: #b59f5b;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price-discount {
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: bold;
}

.shop-item-price p {
    font-size: 2rem;
    font-weight: bold;
}

.shop-item-button {
    width: 14rem;
    height: 4.8rem;
    background-color: #b59f5b;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}

.shop-item-button:hover {
    cursor: pointer;
}


/*--------FOOTER---------*/

.footer {
    width: 100%;
    padding-bottom: 10px;
}

.footer-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.socials {
    width: 100%;
    margin-top: 5.6rem;
    margin-bottom: 71px;
    background-color: #f4f7f6;
}

.social-list {
    display: flex;
    padding: 31px 0;
    justify-content: center;
    list-style-type: none;
}

.socials-link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.social-list-item:nth-child(n + 1) {
    margin-right: 30px;
}

.link-dribbble {
    background-image: url(../svg/001-dribbble.svg);
}

.link-pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.link-tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.commercial {
    margin: 0;
    text-align: center;
}

.commercial-link {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: #999999;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: none;
}

.popup-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-form {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 39rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 30px 25px;
}

.popup-select {
    display: block;
    width: 100%;
    height: 4vh;
    padding-left: 15px;
    border: none;
    background-color: #f5f2f2;
    margin: 5px 0 20px;
    font-size: 1.4rem;
    color: #888888;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 10px;
}

.popup-select option {
    font-size: 1.4rem;
}

.popup-text {
    font-size: 1.4rem;
}

.popup-radio-text {
    font-size: 1.4rem;
}

.popup-radio-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.popup-radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.radio:nth-of-type(n+2) {
    margin-left: 10px;
}

.popup-radio:checked + .popup-radio-text::before {
    background-image: url(../svg/form-circle.svg);
}

.popup-textarea {
    margin-top: 20px;
}

.popup-textarea-text {
    max-width: 100%;
    border: none;
    background-color: #f5f2f2;
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
}

.popup-button {
    width: 100%;
    height: 48px;
    margin: 20px 0;
    background-color: #b59f5b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}

.popup-close {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: -27px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.burger-menu {
    display: none;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
        align-self: center;
        width: 20px;
        height: 20px;
        background-image: url(../svg/menu-icon.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #000000;
        border: none;@media (max-width: 768px)
    }

    .menu-list {
        display: none;
    }

    .news-article {
        flex-direction: column;
    }

    .news-tegs {
        margin-top: 1.5rem;
    }

    .popup-form {
        max-width: 60%;
    }
}

@media (min-width: 641px) and (max-width: 1200px) {
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }

    .trend {
        width: calc(100%/2 - 3px);
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url(../images/banner-mobile.jpg);
    }

    .trend {
        width: 100%;
    }

    .page-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .main {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .shop-item {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .trend {
        width: calc(100%/2 - 3px);
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend {
        width: calc(100%/4 - 3px);
    }
}

@media (max-width: 640px) and (orientation: portrait) {
    .trend {
        width: 100%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trend {
        width: calc(100%/2 - 3px);
    }
}